body {
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
}

.fa-star {
  color: orange;
}

.fa-react {
  color: #61dafb;
  font-weight: bold;
  margin-left: 10px;
}

.btn-circle-fishy {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #3298dc;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-color: #fff;
  /* background-image: linear-gradient(45deg, #3298dc 0%, #91fdb7 100%); */
  transition: 0.4s;
  border: solid #3298dc;
  margin: 10px;
}

.btn-circle-fishy:hover {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.button {
  display: inline-block;
}

.parent {
  height: 200px;
  width: 100%;
}

.header {
  background-image: url(./components/images/blue.jpeg);
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
}
